requests~=2.31.0
streamlit~=1.31.1
streamlit-option-menu==0.3.12
streamlit-chat==0.1.1
llama-index==0.10.6
llama-index-embeddings-openai
llama-index-llms-openai
llama-index-vector-stores-chroma
beautifulsoup4~=4.12.3
chromadb==0.4.22
fastapi==0.109.2
uvicorn==0.27.1
gTTS~=2.5.1
